In [1]:
#https://www.kaggle.com/camnugent/california-housing-prices

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
housing_data = pd.read_csv('datasets/housing.csv')

In [6]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
5890,-118.34,34.15,16.0,1586.0,377.0,625.0,344.0,4.0893,450000.0,<1H OCEAN
10857,-117.86,33.71,21.0,1795.0,406.0,2246.0,400.0,3.1520,152800.0,<1H OCEAN
7784,-118.07,33.91,35.0,2228.0,463.0,1558.0,427.0,4.0230,157700.0,<1H OCEAN
17998,-121.97,37.28,25.0,4707.0,695.0,1995.0,642.0,6.6437,296100.0,<1H OCEAN
7827,-118.14,33.91,34.0,1766.0,410.0,974.0,404.0,3.0703,180800.0,<1H OCEAN

In [12]:
housing_data = housing_data.dropna()

In [13]:
housing_data.shape

(20433, 10)

In [14]:
housing_data.loc[housing_data['median_house_value']==500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [15]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value']==500001].index)

In [16]:
housing_data.shape

(19475, 10)

In [17]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [18]:
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [19]:
housing_data=  pd.get_dummies(housing_data, columns = ['ocean_proximity'])

In [21]:
housing_data.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0

In [22]:
median = housing_data['median_house_value'].median()

In [23]:
median

173800.0

In [25]:
housing_data['median_house_value'].describe()

count     19475.000000
mean     192444.651913
std       97702.625782
min       14999.000000
25%      116500.000000
50%      173800.000000
75%      248100.000000
max      500000.000000
Name: median_house_value, dtype: float64

In [26]:
housing_data['above_median'] = (housing_data['median_house_value']-median )> 0

In [27]:
housing_data.sample(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
11395,-117.96,33.73,22.0,3479.0,455.0,1454.0,488.0,6.6324,347600.0,1,0,0,0,0,True
3322,-122.84,38.98,21.0,939.0,176.0,556.0,178.0,1.7196,75000.0,0,1,0,0,0,False
19484,-120.98,37.65,36.0,826.0,167.0,432.0,150.0,2.5000,103100.0,0,1,0,0,0,False
12575,-121.42,38.53,36.0,1581.0,288.0,832.0,291.0,3.4083,71800.0,0,1,0,0,0,False
7200,-118.19,34.02,45.0,1535.0,432.0,1820.0,419.0,1.7801,142800.0,1,0,0,0,0,False
6806,-118.09,34.09,36.0,1068.0,246.0,949.0,250.0,2.3462,188500.0,1,0,0,0,0,True
8090,-118.21,33.81,40.0,1815.0,428.0,1807.0,413.0,3.0882,160700.0,0,0,0,0,1,False
10217,-117.91,33.87,52.0,2031.0,506.0,1191.0,463.0,2.9076,177300.0,1,0,0,0,0,True
4380,-118.27,34.09,52.0,2327.0,555.0,1048.0,491.0,3.7847,252300.0,1,0,0,0,0,True
891,-121.94,37.54,27.0,3715.0,526.0,1631.0,538.0,6.2179,305300.0,1,0,0,0,0,True

In [29]:
X = housing_data.drop(['median_house_value','above_median'], axis = 1)
y = housing_data['above_median']

In [30]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [35]:
from sklearn.linear_model import LogisticRegression 
logistic_regression = LogisticRegression(solver = 'liblinear').fit(x_train,y_train)

In [37]:
print("training score : " ,logistic_regression.score(x_train,y_train))

training score :  0.8223363286264441

In [38]:
y_pred = logistic_regression.predict(x_test)

In [44]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})
df_pred_actual.sample(5)

       predicted  actual
15396       True    True
2670       False   False
11639       True    True
9770       False   False
2090       False   False

In [45]:
from sklearn.metrics import accuracy_score
print('training score : ', accuracy_score(y_test,y_pred))

training score :  0.8130937098844673